
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-display: swap;
}

body {
  font-family: $main-font;
  background: #00796b !important;
}


.App {  
  background:  #44A08D url(../../../images/bg.svg) no-repeat center center;
  background-size: cover;
}

.Register, 
.Login, 
.Browse, 
.Holdings, 
.Favorites, 
.Trading, 
.History {
  min-height: 75vh !important;
  padding: 4rem 0 5em 0;
  background:  hsl(168, 40%, 40%);
}

.not-found {
  display: grid;
  place-items: center;
  padding: 5em 3em;
  min-height: 70vh;
  .responsive-img{
    max-width: 350px;
  }
  .row {
    display: flex;
    align-items: flex-end;
  }
  .text {
    padding: 10px 2.5em !important;
  }
  &__text {
    h2 {
      margin: 0;
    }
    a {
      color: white;
      &:hover {
        color: hsl(0, 0%, 70%);
      }
    }
  }
}

@media #{$medium-and-down} {
  .not-found {
    .row {
      display: block;
    }
  }
}