
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
}

.App {  
  background: #44A08D; 
  background: -webkit-linear-gradient(to top, #093637, #44A08D); 
  background: linear-gradient(to top, #093637, #44A08D);
}

.Register, 
.Login, 
.Markets, 
.Holdings, 
.Favorites, 
.Trading, 
.History {
  min-height: 100vh !important;
  padding: 1em 0;
  margin-top: 5rem;
}
