.Login {
  .container {
    padding: 2em;
    background: $headerColor;
    .Login_leftBox {
      margin: 1em auto;
    }
    .toRegister {
      margin-top: 2em;
    }
    .loginHeader {
      margin-bottom: 2em;
      img {
        max-width: 7em;
      }
      p {
        margin-bottom: 2em;
        margin-top: 0;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
}

.localLogin {
  margin: 3em auto  1.5em auto;
  margin-bottom: 2em;
}
.googleLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 2.5em;
    height: 2.5em;
    padding: 5px;
  }
}


.Register, .Login {
  .row {
    margin-bottom: 0;
  }
  margin-bottom: 3em;
  .container {
    padding: 2rem !important  ;
    min-width: 85%;
    border-radius: 3px;
    .Register_rightBox {
      padding: 0 2em 2em 0em;
    }
    .title {
      margin-top: 1em;
    }
    .box_row {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .Register_leftBox {
      padding: 3em 1em 2.5em 1em !important; 
      margin: 1em auto;
    }
    .unkownUser {
      width: 4em;
      height: 4em;
    }
    .registerHeader {
      padding: 0em;
      font-size: 1.5em;
      font-weight: 700;
    }
    .registerBtn {
      margin-top: 3em;
    }
    .register_quote {
      margin: 1rem auto;
      padding: .25rem;
      font-weight: 500;
    }
    .custom-icon {
      margin: 0;
      .s3 {
        display: flex;
        padding: 0;
      }
    }
    .profile-name {
      text-align: left;
      padding: 0;
      margin: 1em 0 0 0;
      font-weight: 700;
    }
    .profile-email {
      text-align: left;
      margin-top: 0em;
      font-weight: 600;
    }
   
    padding: 1em;
    background: $headerColor;
    .card {
      padding: 1em;
    }
  }
}