.Holdings {
  .container {
    background: white;
  }
  .card {
    min-height: 2em;
    border-radius: 0px;
  }
  table {
    th, td {
      padding: 15px 20px;
    }
    .notShow {
      opacity: 0;
    }
    .companyName {
      max-width: 13em;
    }
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
  &__header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .svg {
      max-width: 10em;
    }
    h4 {
      font-weight: 500;
    }
    
  }
}
