nav {
  .flex {
    display: flex;
  }
  .active {
    color: black !important;
    font-weight: 500;
  }
  .unkownUser, .profilePicture {
    width: 3.5em;
    height: 3.5em !important;
  }
  .brand-logo {
    font-weight: bold;
    padding-left: 3em !important;
    span {
      padding: 0 0.25rem;
    }
  }
  .user_detail {
    position: relative;
    margin-left: .25rem;
    width: 8em;
    p {
      font-size: .9rem;
      margin: 0;
    }
    .detail_username {
      position: absolute;
      top: -16px;
      width: 9em;
    }
    .detail_cash {
      position: absolute;
      top: 17px;
      width: 9em;
    }
  }
  .Iconimg, .modalContoller {
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .not_auth {
    margin-left: 1.5rem !important;
  }
  .login {
    padding-bottom: 0px !important;
  }
  .not_login {
    padding: 0 3rem !important;
  }
  .nav_logout {
    padding: 0 1rem !important;
  }
  .user-view {
    .background {
      background-color: black;
      padding: 1em;
      img {
        width: 100%;
        height: 15rem;
      }
    }
    .white-text {
      font-weight: 500;
      letter-spacing: 1px;
    }
    .cash {
      font-size: 1.3rem;
    }
  }
}
#mobile-nav {
  li > a {
    color: white !important;
  }
  .active {
    color: black !important;
    font-weight: 500;
  }
}